<form action='/' method='POST'>
  <p>
    Mydea Box!:
  </p>
  <input type='text' name='idea[title]'/><br/>
  <textarea name='idea[description]'></textarea><br/>
  <input type='submit' value='Create Brilliance'/>
</form>

<h2>Mydeas!</h2>

<ul>
  <% ideas.each do |idea| %>
    <li>
      <h3><%= idea.title %>:</h3>
      <%= idea.description %><br/>
      <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
        <input type='submit' value="+"/>
      </form>
      <a href="/<%= idea.id %>/edit">Change your mind</a>
      <form action='/<%= idea.id %>' method='POST'>
        <input type="hidden" name="_method" value="DELETE">
        <input type='submit' value="delete"/>
      </form>
    </li>
  <% end %>
</ul>